@media (min-width: 1200px)
  .post-body
    font-size: 16px !important

.post-body
  font-size: 14px

@media (max-width: 767px)
  .posts-expand .post-title
    font-size: 16px !important

.posts-expand .post-title
  font-size: 20px

.sidebar 
  top: 0